.row.sticky-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}

.coeff {
  width: 60px;
}

/* Green Button */
.lgx-btn,
.lgx-submit,
.wpcf7-submit,
button {
  overflow: hidden;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
  padding: 1.5rem 4rem;
  display: inline-block;
  letter-spacing: 0.1rem;
  background: #554bb9;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
}

.lgx-btn:hover,
.lgx-submit:hover,
.wpcf7-submit:hover,
button:hover {
  color: #fff;
  border-radius: 16px;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
