body {
  overflow-x: hidden;
}
.row.sticky-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}

.coeff {
  width: 60px;
}

/* Green Button */
.lgx-btn,
.lgx-submit,
.wpcf7-submit {
  overflow: hidden;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
  padding: 1.5rem 4rem;
  display: inline-block;
  letter-spacing: 0.1rem;
  background: #554bb9;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
}

.lgx-btn:hover,
.lgx-submit:hover,
.wpcf7-submit:hover {
  color: #fff;
  border-radius: 16px;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* .bottom-card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px;
} */

/* Left Sidebar CSS */
.sidenav {
  background-color: #111;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}
.sidenavR {
  background-color: #111;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}
.sidenav a,
.sidenavR a {
  color: #818181;
  display: block;
  font-size: 25px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: 0.3s;
}
.sidenav a:hover,
.offcanvas a:focus,
.sidenavR a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}
.sidenav .closebtn,
.sidenavR .closebtn {
  font-size: 36px;
  margin-left: 50px;
  /* position: absolute; */
  /* right: 25px; */
  top: 0;
}
@media (max-height: 450px) {
  .sidenav,
  .sidenavR {
    padding-top: 15px;
  }
  .sidenav a,
  .sidenavR a {
    font-size: 18px;
  }
}

/* Playground "Reactant" and "Product" */
#rmol > svg,
#pmol > svg {
  border: 10px solid green;
}

#floatingLabel {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: 900;
  background-color: green;
  padding: 5px;
  color: white;
}

.reactionBtn:hover {
  background-color: gray;
}

.practice-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
}
