.28_401 { 
	overflow:hidden;
}.e28_401 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1028px;
	position:absolute;
}.e28_402 { 
	background-color:rgba(245.43749392032623, 244.41483199596405, 244.41483199596405, 1);
	width:1920px;
	height:153px;
	position:absolute;
	left:0px;
	top:0px;
}.e28_403 { 
	color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:397px;
	height:86px;
	position:absolute;
	left:237px;
	top:4px;
	font-family:Alata;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.28_404 { 
	border:5px solid rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
}.e28_404 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:153px;
}.e28_405 { 
	width:137px;
	height:119px;
	position:absolute;
	left:90px;
	top:16px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e28_406 { 
	background-color:rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
	width:211px;
	height:55px;
	position:absolute;
	left:1230px;
	top:44px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e28_407 { 
	width:46px;
	height:45px;
	position:absolute;
	left:16px;
	top:5px;
	background-image:url(images/person.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e28_408 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:87px;
	height:51px;
	position:absolute;
	left:75px;
	top:2px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e28_409 { 
	transform: rotate(-180deg);
	background-color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:195px;
	top:32.5px;
}.e28_410 { 
	background-color:rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
	width:195px;
	height:55px;
	position:absolute;
	left:1483px;
	top:44px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e28_411 { 
	width:46px;
	height:45px;
	position:absolute;
	left:16px;
	top:5px;
	background-image:url(images/remote.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e28_412 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:69px;
	height:52px;
	position:absolute;
	left:76px;
	top:1.5px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e28_413 { 
	transform: rotate(-180deg);
	background-color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:179px;
	top:32.5px;
}.e28_414 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:397px;
	height:46px;
	position:absolute;
	left:237px;
	top:87px;
}.e28_415 { 
	color:rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:12px;
	top:-2px;
	font-family:Alata;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e28_416 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:128px;
	height:101px;
	position:absolute;
	left:1709px;
	top:24px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}.e28_417 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:47px;
	position:absolute;
	left:13px;
	top:27px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e33_38 { 
	width:1534px;
	height:94px;
	position:absolute;
	left:159px;
	top:232px;
}.e28_418 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:1124px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e33_34 { 
	width:93px;
	height:50.5px;
	position:absolute;
	left:0px;
	top:21.75px;
	background-image:url(images/video_thumbnail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e33_32 { 
	color:rgba(0, 0, 0, 1);
	width:1031px;
	height:41px;
	position:absolute;
	left:93px;
	top:26.5px;
	font-family:Alata;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e33_35 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:410px;
	height:94px;
	position:absolute;
	left:1124px;
	top:0px;
}.e33_53 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:324px;
	height:51px;
	position:absolute;
	left:43px;
	top:21.5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei33_53_33_9 { 
	background-color:rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:48px;
	top:10.5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.i33_53_33_9 { 
	border:1px solid rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
}.ei33_53_33_7 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:198px;
	height:36px;
	position:absolute;
	left:78px;
	top:7.5px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e95_477 { 
	width:1534px;
	height:94px;
	position:absolute;
	left:159px;
	top:608px;
}.e95_478 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:1124px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e95_479 { 
	width:93px;
	height:50.5px;
	position:absolute;
	left:0px;
	top:21.75px;
	background-image:url(images/video_thumbnail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e95_480 { 
	color:rgba(0, 0, 0, 1);
	width:1031px;
	height:41px;
	position:absolute;
	left:93px;
	top:26.5px;
	font-family:Alata;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e95_481 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:410px;
	height:94px;
	position:absolute;
	left:1124px;
	top:0px;
}.e95_482 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:324px;
	height:51px;
	position:absolute;
	left:43px;
	top:21.5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei95_482_33_9 { 
	background-color:rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:48px;
	top:10.5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.i95_482_33_9 { 
	border:1px solid rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
}.ei95_482_33_7 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:198px;
	height:36px;
	position:absolute;
	left:78px;
	top:7.5px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e95_509 { 
	width:1534px;
	height:94px;
	position:absolute;
	left:159px;
	top:705px;
}.e95_510 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:1124px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e95_511 { 
	width:93px;
	height:50.5px;
	position:absolute;
	left:0px;
	top:21.75px;
	background-image:url(images/video_thumbnail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e95_512 { 
	color:rgba(0, 0, 0, 1);
	width:1031px;
	height:41px;
	position:absolute;
	left:93px;
	top:26.5px;
	font-family:Alata;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e95_513 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:410px;
	height:94px;
	position:absolute;
	left:1124px;
	top:0px;
}.e95_514 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:324px;
	height:51px;
	position:absolute;
	left:43px;
	top:21.5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei95_514_33_9 { 
	background-color:rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:48px;
	top:10.5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.i95_514_33_9 { 
	border:1px solid rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
}.ei95_514_33_7 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:198px;
	height:36px;
	position:absolute;
	left:78px;
	top:7.5px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e95_485 { 
	width:1534px;
	height:94px;
	position:absolute;
	left:159px;
	top:514px;
}.e95_486 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:1124px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e95_487 { 
	width:93px;
	height:50.5px;
	position:absolute;
	left:0px;
	top:21.75px;
	background-image:url(images/video_thumbnail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e95_488 { 
	color:rgba(0, 0, 0, 1);
	width:1031px;
	height:41px;
	position:absolute;
	left:93px;
	top:26.5px;
	font-family:Alata;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e95_489 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:410px;
	height:94px;
	position:absolute;
	left:1124px;
	top:0px;
}.e95_490 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:324px;
	height:51px;
	position:absolute;
	left:43px;
	top:21.5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei95_490_33_9 { 
	background-color:rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:48px;
	top:10.5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.i95_490_33_9 { 
	border:1px solid rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
}.ei95_490_33_7 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:198px;
	height:36px;
	position:absolute;
	left:78px;
	top:7.5px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e95_493 { 
	width:1534px;
	height:94px;
	position:absolute;
	left:159px;
	top:420px;
}.e95_494 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:1124px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e95_495 { 
	width:93px;
	height:50.5px;
	position:absolute;
	left:0px;
	top:21.75px;
	background-image:url(images/video_thumbnail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e95_496 { 
	color:rgba(0, 0, 0, 1);
	width:1031px;
	height:41px;
	position:absolute;
	left:93px;
	top:26.5px;
	font-family:Alata;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e95_497 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:410px;
	height:94px;
	position:absolute;
	left:1124px;
	top:0px;
}.e95_498 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:324px;
	height:51px;
	position:absolute;
	left:43px;
	top:21.5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei95_498_33_9 { 
	background-color:rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:48px;
	top:10.5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.i95_498_33_9 { 
	border:1px solid rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
}.ei95_498_33_7 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:198px;
	height:36px;
	position:absolute;
	left:78px;
	top:7.5px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e95_501 { 
	width:1534px;
	height:94px;
	position:absolute;
	left:159px;
	top:326px;
}.e95_502 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:1124px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e95_503 { 
	width:93px;
	height:50.5px;
	position:absolute;
	left:0px;
	top:21.75px;
	background-image:url(images/video_thumbnail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e95_504 { 
	color:rgba(0, 0, 0, 1);
	width:1031px;
	height:41px;
	position:absolute;
	left:93px;
	top:26.5px;
	font-family:Alata;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e95_505 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:410px;
	height:94px;
	position:absolute;
	left:1124px;
	top:0px;
}.e95_506 { 
	background-color:rgba(238.00000101327896, 234.0333330631256, 234.0333330631256, 1);
	width:324px;
	height:51px;
	position:absolute;
	left:43px;
	top:21.5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei95_506_33_9 { 
	background-color:rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:48px;
	top:10.5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.i95_506_33_9 { 
	border:1px solid rgba(217.8125050663948, 213.27474296092987, 213.27474296092987, 1);
}.ei95_506_33_7 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:198px;
	height:36px;
	position:absolute;
	left:78px;
	top:7.5px;
	font-family:Alata;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}