.91_96 { 
	overflow:hidden;
}.e91_96 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1028px;
	position:absolute;
}.e91_97 { 
	background-color:rgba(245.43749392032623, 244.41483199596405, 244.41483199596405, 1);
	width:1920px;
	height:153px;
	position:absolute;
	left:0px;
	top:0px;
}.e91_98 { 
	color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:397px;
	height:86px;
	position:absolute;
	left:237px;
	top:4px;
	font-family:Alata;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.91_99 { 
	border:5px solid rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
}.e91_99 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:153px;
}.e91_100 { 
	width:137px;
	height:119px;
	position:absolute;
	left:90px;
	top:16px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e91_101 { 
	background-color:rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
	width:211px;
	height:55px;
	position:absolute;
	left:1230px;
	top:44px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e91_102 { 
	width:46px;
	height:45px;
	position:absolute;
	left:16px;
	top:5px;
	background-image:url(images/person.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e91_103 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:87px;
	height:51px;
	position:absolute;
	left:75px;
	top:2px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e91_104 { 
	transform: rotate(-180deg);
	background-color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:195px;
	top:32.5px;
}.e91_105 { 
	background-color:rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
	width:195px;
	height:55px;
	position:absolute;
	left:1483px;
	top:44px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e91_106 { 
	width:46px;
	height:45px;
	position:absolute;
	left:16px;
	top:5px;
	background-image:url(images/remote.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e91_107 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:69px;
	height:52px;
	position:absolute;
	left:76px;
	top:1.5px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e91_108 { 
	transform: rotate(-180deg);
	background-color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:179px;
	top:32.5px;
}.e91_109 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:397px;
	height:46px;
	position:absolute;
	left:237px;
	top:87px;
}.e91_110 { 
	color:rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:12px;
	top:-2px;
	font-family:Alata;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e91_111 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:128px;
	height:101px;
	position:absolute;
	left:1709px;
	top:24px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}.e91_112 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:47px;
	position:absolute;
	left:13px;
	top:27px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e104_35 { 
	width:49px;
	height:56px;
	position:absolute;
	left:18px;
	top:54px;
}.e104_36 { 
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:8.166666030883789px;
	height:37.33332824707031px;
	position:absolute;
	left:20.41666603088379px;
	top:9.333333969116211px;
}.e104_406 { 
	background-color:rgba(245.00000059604645, 243.00000071525574, 243.00000071525574, 0.41999998688697815);
	width:855px;
	height:464px;
	position:absolute;
	left:105px;
	top:216px;
}.104_406 { 
	border:10px solid rgba(130.45729011297226, 225.24999797344208, 156.9992458820343, 1);
}.e108_407 { 
	background-color:rgba(245.00000059604645, 243.00000071525574, 243.00000071525574, 0.41999998688697815);
	width:855px;
	height:464px;
	position:absolute;
	left:960px;
	top:216px;
}.108_407 { 
	border:10px solid rgba(130.45729011297226, 225.24999797344208, 156.9992458820343, 1);
}.e108_409 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:182px;
	height:60px;
	position:absolute;
	left:778px;
	top:216px;
}.e108_410 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:182px;
	height:60px;
	position:absolute;
	left:1633px;
	top:216px;
}.e108_408 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:60px;
	position:absolute;
	left:778px;
	top:216px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e108_411 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:60px;
	position:absolute;
	left:1633px;
	top:216px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e118_606 { 
	width:517px;
	height:82px;
	position:absolute;
	left:651px;
	top:812px;
}.e112_437 { 
	background-color:rgba(123.0000002682209, 97.00000181794167, 255, 1);
	width:517px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e108_412 { 
	color:rgba(255, 255, 255, 1);
	width:517px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e118_607 { 
	width:82px;
	height:82px;
	position:absolute;
	left:1187px;
	top:812px;
}.e108_416 { 
	background-color:rgba(213.9200395345688, 97.00000941753387, 255, 0.75);
	width:82px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e108_432 { 
	background-color:rgba(238.62873047590256, 243.31249594688416, 9.12422239780426, 1);
	width:51.999996185302734px;
	height:51.999996185302734px;
	position:absolute;
	left:15px;
	top:15px;
}.108_432 { 
	border:1px solid rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
}.e110_435 { 
	border-radius:500px;
	background-color:rgba(244.3749949336052, 236.75863802433014, 53.96614819765091, 0.75);
	width:88px;
	height:82px;
	position:absolute;
	left:377px;
	top:432px;
}.110_435 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_456 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:32px;
	position:absolute;
	left:407px;
	top:457px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e112_454 { 
	border-radius:500px;
	background-color:rgba(244.3749949336052, 236.75863802433014, 53.96614819765091, 0.75);
	width:88px;
	height:82px;
	position:absolute;
	left:489px;
	top:312px;
}.112_454 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_461 { 
	border-radius:500px;
	background-color:rgba(244.3749949336052, 236.75863802433014, 53.96614819765091, 0.75);
	width:88px;
	height:82px;
	position:absolute;
	left:1527px;
	top:381px;
}.112_461 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_457 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:32px;
	position:absolute;
	left:519px;
	top:337px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e112_455 { 
	border-radius:500px;
	background-color:rgba(129.62499797344208, 194.81999963521957, 255, 1);
	width:88px;
	height:82px;
	position:absolute;
	left:578px;
	top:466px;
}.112_455 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_460 { 
	border-radius:500px;
	background-color:rgba(129.62499797344208, 194.81999963521957, 255, 1);
	width:88px;
	height:82px;
	position:absolute;
	left:1348px;
	top:394px;
}.112_460 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_458 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:32px;
	position:absolute;
	left:605px;
	top:491px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e112_459 { 
	transform: rotate(-48.0664855011259deg);
	width:79.30952453613281px;
	height:0px;
	position:absolute;
	left:449px;
	top:441px;
}.112_459 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_462 { 
	border-radius:500px;
	background-color:rgba(244.3749949336052, 236.75863802433014, 53.96614819765091, 0.75);
	width:88px;
	height:82px;
	position:absolute;
	left:1231px;
	top:276px;
}.112_462 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_464 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:32px;
	position:absolute;
	left:1261px;
	top:301px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e112_463 { 
	border-radius:500px;
	background-color:rgba(244.3749949336052, 236.75863802433014, 53.96614819765091, 0.75);
	width:88px;
	height:82px;
	position:absolute;
	left:1231px;
	top:521px;
}.112_463 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_465 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:32px;
	position:absolute;
	left:1261px;
	top:546px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e112_468 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:32px;
	position:absolute;
	left:1375px;
	top:419px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e112_467 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:32px;
	position:absolute;
	left:1557px;
	top:406px;
	font-family:Arial;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e112_470 { 
	transform: rotate(45.48146613051081deg);
	width:84.148681640625px;
	height:0px;
	position:absolute;
	left:1301px;
	top:348px;
}.112_470 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_471 { 
	transform: rotate(-49.053556469924914deg);
	width:90.02777099609375px;
	height:0px;
	position:absolute;
	left:1301px;
	top:531px;
}.112_471 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e112_472 { 
	transform: rotate(-0.6160599359387239deg);
	width:93.00537872314453px;
	height:0px;
	position:absolute;
	left:1434px;
	top:429px;
}.112_472 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_480 { 
	width:131px;
	height:36px;
	position:absolute;
	left:577px;
	top:727px;
}.e114_478 { 
	background-color:rgba(255, 255, 255, 1);
	width:131px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.114_478 { 
	border:1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1);
}.e114_476 { 
	transform: rotate(-180deg);
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:120px;
	top:32px;
}.e114_477 { 
	transform: rotate(1.5986868682667706e-14deg);
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:100px;
	top:6px;
}.e114_479 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:15px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e118_588 { 
	width:76px;
	height:221px;
	position:absolute;
	left:482px;
	top:727px;
}.e118_582 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e118_587 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e118_583 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:0px;
	top:77px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e118_584 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:0px;
	top:113px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e118_585 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:0px;
	top:149px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e118_586 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:0px;
	top:185px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e114_487 { 
	width:131px;
	height:36px;
	position:absolute;
	left:819px;
	top:729px;
}.e114_488 { 
	background-color:rgba(255, 255, 255, 1);
	width:131px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.114_488 { 
	border:1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1);
}.e114_489 { 
	transform: rotate(-180deg);
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:120px;
	top:32px;
}.e114_490 { 
	transform: rotate(1.5986868682667706e-14deg);
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:100px;
	top:6px;
}.e114_491 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:15px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e114_492 { 
	width:131px;
	height:36px;
	position:absolute;
	left:1138px;
	top:727px;
}.e114_493 { 
	background-color:rgba(255, 255, 255, 1);
	width:131px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.114_493 { 
	border:1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1);
}.e114_494 { 
	transform: rotate(-180deg);
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:120px;
	top:32px;
}.e114_495 { 
	transform: rotate(1.5986868682667706e-14deg);
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:100px;
	top:6px;
}.e114_496 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:36px;
	position:absolute;
	left:15px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e114_483 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:1016px;
	top:754px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e114_497 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:1351px;
	top:750px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e114_484 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:60px;
	position:absolute;
	left:727px;
	top:715px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e114_485 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:60px;
	position:absolute;
	left:960px;
	top:717px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e114_486 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:60px;
	position:absolute;
	left:1282px;
	top:713px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e114_504 { 
	transform: rotate(90.00000000000003deg);
	width:60px;
	height:60px;
	position:absolute;
	left:1112px;
	top:715px;
}.e114_505 { 
	width:26.255718231201172px;
	height:52.503353118896484px;
	position:absolute;
	left:16.871753692626953px;
	top:3.7464559078216553px;
}.e114_506 { 
	background-color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:26.255718231201172px;
	height:52.503353118896484px;
	position:absolute;
	left:0px;
	top:0px;
}