.28_369 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e28_369 { 
	background-color:rgba(255, 255, 255, 1);
	width:515px;
	height:236px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	position:absolute;
}.e28_370 { 
	background-color:rgba(255, 255, 255, 1);
	width:515px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}.e28_371 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:291px;
	height:39px;
	position:absolute;
	left:112px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e28_372 { 
	background-color:rgba(255, 255, 255, 1);
	width:515px;
	height:59px;
	position:absolute;
	left:0px;
	top:59px;
}.e28_373 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:385px;
	height:39px;
	position:absolute;
	left:65px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e28_374 { 
	background-color:rgba(255, 255, 255, 1);
	width:515px;
	height:59px;
	position:absolute;
	left:0px;
	top:118px;
}.e28_375 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:291px;
	height:39px;
	position:absolute;
	left:112px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e28_376 { 
	background-color:rgba(255, 255, 255, 1);
	width:515px;
	height:59px;
	position:absolute;
	left:0px;
	top:177px;
}.e28_377 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:366px;
	height:39px;
	position:absolute;
	left:74.5px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}