.86_4 { 
	overflow:hidden;
	border:1px solid rgba(153.00000607967377, 152.0000061392784, 152.0000061392784, 1);
}.e86_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:500px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	position:absolute;
}.e86_6 { 
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:36px;
	position:absolute;
	left:193px;
	top:62px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e91_69 { 
	background-color:rgba(101.99999392032623, 181.56000316143036, 255, 1);
	width:404px;
	height:55px;
	position:absolute;
	left:48px;
	top:353px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.91_69 { 
	border:1px solid rgba(77.38541632890701, 142.1200042963028, 201.8750050663948, 1);
}.e91_91 { 
	background-color:rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
	width:157px;
	height:37px;
	position:absolute;
	left:295px;
	top:426px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.91_91 { 
	border:1px solid rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
}.e91_80 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:55px;
	position:absolute;
	left:66px;
	top:353px;
	font-family:Arial;
	text-align:center;
	font-size:20px;
	letter-spacing:-2;
}.e91_92 { 
	color:rgba(0, 0, 0, 1);
	width:139px;
	height:37px;
	position:absolute;
	left:307px;
	top:426px;
	font-family:Arial;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e95_436 { 
	width:404px;
	height:85px;
	position:absolute;
	left:48px;
	top:165px;
}.ei95_436_95_359 { 
	background-color:rgba(255, 255, 255, 1);
	width:404px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.i95_436_95_359 { 
	border:1px solid rgba(153.00000607967377, 151.72500729560852, 151.72500729560852, 1);
}.ei95_436_95_360 { 
	color:rgba(0, 0, 0, 0);
	width:87px;
	height:17px;
	position:absolute;
	left:26px;
	top:5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:12px;
	letter-spacing:-2;
}.ei95_436_95_361 { 
	transform: rotate(90deg);
	width:21px;
	height:0px;
	position:absolute;
	left:123px;
	top:27px;
}.i95_436_95_361 { 
	border:1px solid rgba(0, 0, 0, 1);
}.ei95_436_95_362 { 
	color:rgba(0, 0, 0, 0);
	width:297px;
	height:21px;
	position:absolute;
	left:30px;
	top:27px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}.ei95_436_95_363 { 
	color:rgba(0, 0, 0, 1);
	width:350px;
	height:55px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}.e95_442 { 
	width:404px;
	height:85px;
	position:absolute;
	left:48px;
	top:250px;
}.ei95_442_95_359 { 
	background-color:rgba(255, 255, 255, 1);
	width:404px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.i95_442_95_359 { 
	border:1px solid rgba(153.00000607967377, 151.72500729560852, 151.72500729560852, 1);
}.ei95_442_95_360 { 
	color:rgba(0, 0, 0, 0);
	width:87px;
	height:17px;
	position:absolute;
	left:26px;
	top:5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:12px;
	letter-spacing:-2;
}.ei95_442_95_361 { 
	transform: rotate(90deg);
	width:21px;
	height:0px;
	position:absolute;
	left:123px;
	top:27px;
}.i95_442_95_361 { 
	border:1px solid rgba(0, 0, 0, 1);
}.ei95_442_95_362 { 
	color:rgba(0, 0, 0, 0);
	width:297px;
	height:21px;
	position:absolute;
	left:30px;
	top:27px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}.ei95_442_95_363 { 
	color:rgba(0, 0, 0, 1);
	width:350px;
	height:55px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}