.79_90 { 
	overflow:hidden;
}.e79_90 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:3173px;
	position:absolute;
}.e79_91 { 
	background-color:rgba(245.43749392032623, 244.41483199596405, 244.41483199596405, 1);
	width:1920px;
	height:153px;
	position:absolute;
	left:0px;
	top:0px;
}.e79_92 { 
	color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:397px;
	height:86px;
	position:absolute;
	left:237px;
	top:4px;
	font-family:Alata;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.79_93 { 
	border:5px solid rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
}.e79_93 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:153px;
}.e79_94 { 
	width:137px;
	height:119px;
	position:absolute;
	left:90px;
	top:16px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e79_95 { 
	background-color:rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
	width:211px;
	height:55px;
	position:absolute;
	left:1230px;
	top:44px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e79_96 { 
	width:46px;
	height:45px;
	position:absolute;
	left:16px;
	top:5px;
	background-image:url(images/person.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e79_97 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:87px;
	height:51px;
	position:absolute;
	left:75px;
	top:2px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e79_98 { 
	transform: rotate(-180deg);
	background-color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:195px;
	top:32.5px;
}.e79_99 { 
	background-color:rgba(227.00000166893005, 223.00000190734863, 223.00000190734863, 1);
	width:195px;
	height:55px;
	position:absolute;
	left:1483px;
	top:44px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e79_100 { 
	width:46px;
	height:45px;
	position:absolute;
	left:16px;
	top:5px;
	background-image:url(images/remote.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e79_101 { 
	color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:69px;
	height:52px;
	position:absolute;
	left:76px;
	top:1.5px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e79_102 { 
	transform: rotate(-180deg);
	background-color:rgba(60.59791333973408, 61.62499822676182, 60.885497108101845, 1);
	width:20.000001907348633px;
	height:10.000000953674316px;
	position:absolute;
	left:179px;
	top:32.5px;
}.e79_103 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:397px;
	height:46px;
	position:absolute;
	left:237px;
	top:87px;
}.e79_104 { 
	color:rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:12px;
	top:-2px;
	font-family:Alata;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e79_105 { 
	background-color:rgba(80.25417119264603, 187.00000405311584, 110.14300256967545, 1);
	width:128px;
	height:101px;
	position:absolute;
	left:1709px;
	top:24px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}.e79_106 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:47px;
	position:absolute;
	left:13px;
	top:27px;
	font-family:Alata;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e79_184 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:254px;
}.79_184 { 
	border:2px solid rgba(46.43124371767044, 242.24999696016312, 101.26049280166626, 1);
}.e79_185 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.79_185 { 
	border:1px solid rgba(5.733071565628052, 196.5624949336052, 24.815995283424854, 1);
}.e79_186 { 
	color:rgba(0, 0, 0, 1);
	width:232px;
	height:40px;
	position:absolute;
	left:43.5px;
	top:20.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e79_187 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.79_187 { 
	border:1px solid rgba(5.733071565628052, 196.5624949336052, 24.815995283424854, 1);
}.e79_188 { 
	color:rgba(0, 0, 0, 1);
	width:559px;
	height:40px;
	position:absolute;
	left:164.5px;
	top:20.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e79_189 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:532px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.79_189 { 
	border:1px solid rgba(5.733071565628052, 196.5624949336052, 24.815995283424854, 1);
}.e79_190 { 
	color:rgba(0, 0, 0, 1);
	width:376px;
	height:40px;
	position:absolute;
	left:78px;
	top:20.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e80_466 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1874px;
}.80_466 { 
	border:2px solid rgba(46.43124371767044, 242.24999696016312, 101.26049280166626, 1);
}.e80_467 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_467 { 
	border:1px solid rgba(5.733071565628052, 196.5624949336052, 24.815995283424854, 1);
}.e80_468 { 
	color:rgba(0, 0, 0, 1);
	width:232px;
	height:40px;
	position:absolute;
	left:43.5px;
	top:20.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e80_469 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_469 { 
	border:1px solid rgba(5.733071565628052, 196.5624949336052, 24.815995283424854, 1);
}.e80_470 { 
	color:rgba(0, 0, 0, 1);
	width:559px;
	height:40px;
	position:absolute;
	left:164.5px;
	top:20.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e80_471 { 
	background-color:rgba(196.20390057563782, 251.81248784065247, 211.77430987358093, 1);
	width:532px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_471 { 
	border:1px solid rgba(5.733071565628052, 196.5624949336052, 24.815995283424854, 1);
}.e80_472 { 
	color:rgba(0, 0, 0, 1);
	width:376px;
	height:40px;
	position:absolute;
	left:78px;
	top:20.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e79_193 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:335px;
}.79_193 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e79_194 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.79_194 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e79_195 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.79_196 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e79_197 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:289px;
	height:32px;
	position:absolute;
	left:299.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_198 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.79_198 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e79_199 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_473 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1955px;
}.80_473 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_474 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_474 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_475 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_476 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_476 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_477 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:370px;
	height:32px;
	position:absolute;
	left:259px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_478 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_478 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_479 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_266 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:416px;
}.80_266 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_267 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_267 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_268 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_269 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_269 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_270 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:369px;
	height:32px;
	position:absolute;
	left:259.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_271 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_271 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_272 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_480 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2036px;
}.80_480 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_481 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_481 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_482 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_483 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_483 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_484 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:561px;
	height:32px;
	position:absolute;
	left:163.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_485 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_485 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_486 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_273 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:497px;
}.80_273 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_274 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_274 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_275 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_276 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_276 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_277 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:327px;
	height:32px;
	position:absolute;
	left:280.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_278 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_278 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_279 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_487 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2117px;
}.80_487 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_488 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_488 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_489 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_490 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_490 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_491 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:105px;
	height:32px;
	position:absolute;
	left:391.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_492 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_492 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_493 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_252 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:578px;
}.80_252 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_253 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_253 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_254 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_255 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_255 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_256 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:414px;
	height:32px;
	position:absolute;
	left:237px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_257 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_257 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_258 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_494 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2198px;
}.80_494 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_495 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_495 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_496 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_497 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_497 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_498 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:446px;
	height:32px;
	position:absolute;
	left:221px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_499 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_499 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_500 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_245 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:660px;
}.80_245 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_246 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_246 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_247 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_248 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_248 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_249 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:440px;
	height:32px;
	position:absolute;
	left:224px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_250 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_250 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_251 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_501 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2280px;
}.80_501 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_502 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_502 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_503 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_504 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_504 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_505 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:556px;
	height:32px;
	position:absolute;
	left:166px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_506 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_506 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_507 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_238 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:741px;
}.80_238 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_239 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_239 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_240 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_241 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_241 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_242 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:353px;
	height:32px;
	position:absolute;
	left:267.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_243 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_243 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_244 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_508 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2361px;
}.80_508 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_509 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_509 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_510 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_511 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_511 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_512 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:284px;
	height:32px;
	position:absolute;
	left:302px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_513 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_513 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_514 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_231 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:822px;
}.80_231 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_232 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_232 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_233 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_234 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_234 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_235 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:500px;
	height:32px;
	position:absolute;
	left:194px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_236 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_236 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_237 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_515 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2442px;
}.80_515 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_516 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_516 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_517 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_518 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_518 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_519 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:338px;
	height:32px;
	position:absolute;
	left:275px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_520 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_520 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_521 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_224 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:904px;
}.80_224 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_225 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_225 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_226 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_227 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_227 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_228 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:476px;
	height:32px;
	position:absolute;
	left:206px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_229 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_229 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_230 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_522 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2524px;
}.80_522 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_523 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_523 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_524 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_525 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_525 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_526 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:539px;
	height:32px;
	position:absolute;
	left:174.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_527 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_527 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_528 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_217 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:986px;
}.80_217 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_218 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_218 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_219 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_220 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_220 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_221 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:885px;
	height:32px;
	position:absolute;
	left:1.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_222 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_222 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_223 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:384px;
	height:32px;
	position:absolute;
	left:73px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_529 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:107px;
	position:absolute;
	left:90px;
	top:2606px;
}.80_529 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_530 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}.80_530 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_531 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:37.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_532 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:107px;
	position:absolute;
	left:319px;
	top:0px;
}.80_532 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_533 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:813px;
	height:64px;
	position:absolute;
	left:37.5px;
	top:21.5px;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_534 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:107px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_534 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_535 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:372px;
	height:32px;
	position:absolute;
	left:79px;
	top:37.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_280 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1068px;
}.80_280 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_281 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_281 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_282 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_283 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_283 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_284 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:710px;
	height:32px;
	position:absolute;
	left:89px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_285 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_285 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_286 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:395px;
	height:32px;
	position:absolute;
	left:67.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_536 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:107px;
	position:absolute;
	left:90px;
	top:2714px;
}.80_536 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_537 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}.80_537 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_538 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:37.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_539 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:107px;
	position:absolute;
	left:319px;
	top:0px;
}.80_539 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_540 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:802px;
	height:64px;
	position:absolute;
	left:43px;
	top:21.5px;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_541 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:107px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_541 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_542 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:389px;
	height:32px;
	position:absolute;
	left:70.5px;
	top:37.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_287 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1150px;
}.80_287 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_288 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_288 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_289 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_290 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_290 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_291 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:754px;
	height:32px;
	position:absolute;
	left:67px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_292 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_292 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_293 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:375px;
	height:32px;
	position:absolute;
	left:77.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_543 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2822px;
}.80_543 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_544 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_544 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_545 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_546 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_546 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_547 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:832px;
	height:32px;
	position:absolute;
	left:28px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_548 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_548 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_549 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:370px;
	height:32px;
	position:absolute;
	left:80px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_294 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1232px;
}.80_294 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_295 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_295 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_296 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_297 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_297 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_298 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:821px;
	height:32px;
	position:absolute;
	left:33.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_299 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_299 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_300 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_550 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2904px;
}.80_550 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_551 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_551 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_552 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_553 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_553 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_554 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:598px;
	height:32px;
	position:absolute;
	left:145px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_555 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_555 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_556 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_301 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1314px;
}.80_301 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_302 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_302 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_303 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_304 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_304 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_305 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:674px;
	height:32px;
	position:absolute;
	left:107px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_306 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_306 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_307 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_557 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:2986px;
}.80_557 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_558 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_558 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_559 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_560 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_560 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_561 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:490px;
	height:32px;
	position:absolute;
	left:199px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_562 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_562 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_563 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_308 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1396px;
}.80_308 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_309 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_309 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_310 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_311 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_311 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_312 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:299px;
	height:32px;
	position:absolute;
	left:294.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_313 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_313 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_314 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_315 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1478px;
}.80_315 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_316 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_316 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_317 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_318 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_318 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_319 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:331px;
	height:32px;
	position:absolute;
	left:278.5px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_320 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_320 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_321 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_322 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1560px;
}.80_322 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_323 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_323 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_324 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_325 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_325 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_326 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:340px;
	height:32px;
	position:absolute;
	left:274px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_327 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_327 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_328 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_329 { 
	background-color:rgba(255, 255, 255, 1);
	width:1737px;
	height:81px;
	position:absolute;
	left:90px;
	top:1642px;
}.80_329 { 
	border:3px solid rgba(28.68749924004078, 28.20937469601631, 28.20937469601631, 1);
}.e80_330 { 
	background-color:rgba(255, 255, 255, 1);
	width:319px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}.80_330 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_331 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:49.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_332 { 
	background-color:rgba(255, 255, 255, 1);
	width:888px;
	height:81px;
	position:absolute;
	left:319px;
	top:0px;
}.80_332 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_333 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:238px;
	height:32px;
	position:absolute;
	left:325px;
	top:24.5px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e80_334 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:81px;
	position:absolute;
	left:1207px;
	top:0px;
}.80_334 { 
	border:1px solid rgba(44.60729219019413, 46.75000101327896, 45.20724959671497, 1);
}.e80_335 { 
	color:rgba(90.3124974668026, 88.43099042773247, 88.43099042773247, 1);
	width:335px;
	height:32px;
	position:absolute;
	left:97.5px;
	top:24.5px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e80_337 { 
	color:rgba(0, 0, 0, 1);
	width:672px;
	height:68px;
	position:absolute;
	left:90px;
	top:186px;
	font-family:Alata;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e80_592 { 
	color:rgba(0, 0, 0, 1);
	width:718px;
	height:68px;
	position:absolute;
	left:90px;
	top:1806px;
	font-family:Alata;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}